@import "reset.css";
body{
    background: url("../images/bg.png");
    width: 100px;
    height: 100px;

}
.form-box{
   background: url("../images/jtl-onboarding-background.png");
    border-radius: 20px;
    width: 250px;
    height: 500px;
    margin: 0 500px;
}
.form-box h1{
    text-align: center;
    font-family: arial;
    color: #7a6d77;
}
.form-alert{
    font-size: 12px;
    padding-left: 10px;
    text-align: left;
}
select{
    font-size: 14px;
    height: 29px;
    width: 135px;
}
.name{
    font-size: 15px;
    color: #7a6d77;

}
.call p{
    color: #101322;
}